//==================== VARS =======================
$light_yellow: #F7F57C;
$seasalt: #F7F9F9;
$kelly_green: #5EC631;
$purpureus: #9541B3;
$imperial_red: #F15152;
$dark_purple: #0D0628;
$almost_black: #060312;
$almost_black_transparent: #06031296;


$bebas: "Bebas Neue", sans-serif;


$card_shadow: 12px 15px 0px $dark_purple;
$card_shadow_active: 15px 18px 0px $dark_purple;

$cta_shadow: 6px 8px 0px $dark_purple;
$cta_shadow_active: 8px 9px 0px $dark_purple;
//================================================
