@import "../../sass_partials/vars";
@import "../mixin";
@import "../inheritance";
@import "../animation.scss";

.desktop {
  overflow: hidden;
  //!!!!!!!!!!!! HERO SECTION !!!!!!!!!!!!!!!!!!!!!!!!!
  .hero-section {
    height: 100vh;
    background-image: url("../../img/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include set_flex(center, space-between, column, nowrap);
    header {
      width: 100%;
      nav {
        @include set_flex(center, space-between, row, nowrap);
        padding: 2em;

        .links {
          @include set_flex(center, space-between, row, nowrap);
          list-style: none;
          li {
            margin: 0 1.5em;
            a {
              @extend %montserrat;
              text-decoration: none;
              color: $seasalt;
            }
          }
        }

        .logo {
          img {
            width: 220px;
            height: auto;
          }
        }
      }
    }
    h1 {
      @extend %bellota;
      background-color: $seasalt;
      font-size: 54px;
      width: 575px;
      text-align: center;
      margin: 0 auto;
      background-image: linear-gradient(90deg, $seasalt, $light_yellow);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
    .arrow-down {
      margin-bottom: 5em;
      svg {
        @include build_arrow();
        path {
          stroke: $light_yellow;
        }
      }
    }
  }
  //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

  //$$$$$$$$$$$$$$$$ BIOGRAPHY $$$$$$$$$$$$$$$$$$$$$$
  .biography {
    color: $dark_purple;
    height: 100vh;
    background-color: $light_yellow;
    @include set_flex(stretch, space-between, column, nowrap);
    .wrapper {
      width: 1024px;
      margin: 0 auto;
      @extend %montserrat;
      .history {
        font-size: 18px;
        font-weight: bold;
        width: 400px;
        text-align: center;
        position: relative;
        top: 100px;
        left: 100px;
        line-height: 1.5;
        word-spacing: 1px;
      }
      .arrows {
        width: 90px;
        height: auto;
        path {
          fill: $dark_purple;
        }
        &:first-of-type {
          transform: scaleX(-1) rotate(70deg);
          position: relative;
          top: 180px;
          left: 285px;
        }
        &:last-of-type {
          position: relative;
          left: 465px;
          top: 55px;
        }
      }
      .web-design {
        position: relative;
        top: 124px;
        left: 467px;
        font-size: 40px;
        font-style: italic;
        width: max-content;
        text-decoration: underline;
      }
    }
    .arrow-down {
      @include build_arrow();
      margin-bottom: 2.5em;
      path {
        stroke: $dark_purple;
      }
    }
  }
  //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

  //============== LANGUAGES SECTION =====================
  .languages {
    color: $dark_purple;
    background-color: $imperial_red;
    height: 100vh;
    svg {
      path {
        fill: $dark_purple;
      }
    }
    @extend %montserrat;

    .wrapper {
      width: 1000px;
      margin: 0 auto;
      height: 80%;
      @include set_flex(center, space-around, row, nowrap);
    }

    .paragraph-container {
      height: 20em;
      @include set_flex(center, space-between, column, nowrap);
      .primary-paragraph,
      .secondary-paragraph {
        font-size: 18px;
        width: 350px;
        font-weight: bold;
        text-align: center;
        line-height: 1.5;
        letter-spacing: 1px;
      }
      .arrow-down-bold {
        background-image: url("../../img/icons/ARROW.svg");
        background-repeat: no-repeat;
        width: 94px;
        height: 94px;
        background-size: 203px;
        background-position: center;
        rotate: -45deg;
      }
    }
    .arrow {
      position: relative;
      width: 120px;
      height: auto;
      bottom: -11em;
      transform: scaleX(-1) rotate(130deg);
    }
    .languages-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        svg{
            height: 150px;
            width: auto;
            padding: 1em;
           @include language-icon-animation();
        }
    }
    .arrow-down{
        @include build_arrow();
    }
  }
  //======================================================



  //################# PROJECTS SECTION #######################
  .projects{
    min-height: 100vh;
    background-color: $purpureus;
    padding: 4em 0;
    & > *{
      @extend %montserrat;
    }
    h2{
      width: 450px;
      text-align: center;
      margin:  0 auto;
      letter-spacing: 1px;
      line-height: 1.5;
      color: $almost_black;
    }
    .bracket{
      background-image: url("../../img/icons/bracket.svg");
      height: 100px;
      width: 400px;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      margin: 2em auto;

    }

    .project-card-container{
      width: 900px;
      margin: 0 auto;
      margin-bottom: 2em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      row-gap: 5em;
      .project-card.desktop{
        background-color: $seasalt;
        width: 300px;
        min-height: 300px;
        box-shadow: $card_shadow;
        @include set_flex(center, space-between, column, nowrap);
        .project-img{
          img{
            width: 300px;
            height: auto;
          }
        }
        header{
          width: 95%;
          h3{
            text-align: center;
            text-decoration: underline;
            font-size: 16px;
   

          }
        }
        .cta{
          color: $seasalt;
          margin-bottom: 2em;
          background-color: $imperial_red;
          text-decoration: none;
          box-shadow: $cta_shadow;
          padding: 5px 30px;
        }
      }
    }

    .arrow-down{
      @include build_arrow();
    }
  }

  //##########################################################


 
}
